@model TESTE.Models.Morador

@{
    ViewData["Title"] = "Details";
}

<h1>Detalhes</h1>

<div>
    <h4>Morador</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nome)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nome)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cpf)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cpf)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Apt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Apt)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Bloco)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Bloco)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Dependentes)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Dependentes)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Editar</a> |
    <a asp-action="Index">Voltar a Lista</a>
</div>
